<div>
  <app-page-breadcrumb pageTitle="Transfer" />
  <div class="min-h-screen rounded-2xl border border-gray-200 bg-white px-5 py-7 dark:border-gray-800 dark:bg-white/[0.03] xl:px-10 xl:py-12">
    <div class="mx-auto w-full max-w-[630px] text-center">
      <h3 class="mb-4 font-semibold text-gray-800 text-theme-xl dark:text-white/90 sm:text-2xl">
       Transaction
      </h3>
      <app-component-card title="Make a Transfer">
        <form  class="space-y-6">

          <!-- From Account -->
          <div>
            <app-label for="fromAccount">From Account</app-label>
            <app-select
              id="fromAccount"
              [(value)]="fromAccountId"
              (valueChange)="handleSelectChange($event)"
              [options]="mappedAccounts()"
              placeholder="Select account"
            ></app-select>
          </div>

          <!-- To Account Number -->
          <div>
            <app-label for="toAccountNumber">To Account Number</app-label>
            <app-input-field
              id="toAccountNumber"
              type="text"
              [(value)]="toAccountNumber"
              placeholder="Enter recipient account number"
            />
          </div>

          <!-- Amount -->
          <div>
            <app-label for="amount">Amount</app-label>
            <app-input-field
              id="amount"
              type="number"
              [(value)]="amount"
              placeholder="e.g. 20000"
            />
          </div>

          <!-- Currency -->
          <div>
            <app-label for="currency">Currency</app-label>
            <app-input-field
              id="currency"
              type="text"
              [(value)]="currency"
              [disabled]="true"
            />
          </div>

          <!-- Note -->
          <div>
            <app-label for="note">Note (optional)</app-label>
            <app-input-field
              id="note"
              type="text"
              [(value)]="note"
              placeholder="e.g. Paiement facture"
            />
          </div>

          <!-- Submit -->
          <div class="flex items-center gap-4">
            <app-button type="submit" (btnClick)="submit()">
              Submit Transfer
              @if (loading) {
                <app-loader class="ml-2" />
              }
            </app-button>

            <!-- Success -->
            @if (response) {
              <div class="text-sm text-green-600 dark:text-green-400">
                ✅ Transfer <strong>{{ response.transferId }}</strong> created. Status: <strong>{{ response.status }}</strong>
              </div>
            }

            <!-- Error -->
            @if (error) {
              <div class="text-sm text-red-600 dark:text-red-400">
                {{ error }}
              </div>
            }
          </div>
        </form>
      </app-component-card>

    </div>
  </div>
</div>
